fastapi 
uvicorn 
pyngrok 
faiss-cpu 
langchain 
langchain-community 
langchain-core 
langchain-huggingface 
pypdf 
sentence-transformers 
transformers 
torch 
nest_asyncio
bitsandbytes 
accelerate
streamlit
